<div class="container white-box" >
    <br>
    <br>
    <br>
    <br>
<div class="container container-center row">

<div class="col-md-4" >
  <div class="style3">
      <br>    
  <h3 class="text-white text-center">X activity status</h3>
  <br> 
</div>
</div>

<div class="col-md-4">
    <div class="style2 ">
      <h3 class="text-white text-center">Currently, there are X files in the pull</h3>
</div>
</div>

<div class="col-md-4">
  <div class="style3 ">
    <br>
  <h3 class="text-white text-center">X taggings from Y files</h3>
  <br> 
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<div class=" center-block">
  <div class="row">
    <div class="col-md-6">
  <button type="button" class="btn btn  btn-danger" routerLink="/LandingAdmin/ManageFiles">Manage files & Tagging</button>
</div>
<div class="col-md-6">
  <button type="button" class="btn btn  btn-danger" routerLink="/LandingAdmin/ManageTaggers">Manage taggers</button>
  </div>

</div>

<!-- <div>
  <input  #file type="file" id="file-input" accept='txt/*' value="add file" class="btn  btn-dark" (click)="addNewFile()"/>
  <input id="file-input"  #file type="file" accept='image/*' (change)="preview(file.files)"/>
</div> -->
<br>
<br>
<div class="form-group">
  <label for="file">Choose File</label>
  <input  #file  type="file"
    id="file"
    (change)="handleFileInput($event.target.files)">
    <!-- accept='txt/*' -->
</div>
<br>
<br>
<br>
</div>

</div>
