
    input {
      padding: 5px 20px;
      margin: 8px 0;
      border: black;
    }
 
    div.style2{
      background-color:#17a2b8;
      // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
      height: 90px;
      border: 9px solid #17a2b8;
      border-radius:4px;
    }

    div.style3{
      background-color:#17a2b8;
      // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
      height: 90px;
      border: 5px solid#17a2b8;
      border-radius:4px;
    }