<div class=" bg-light">
    <div  class="container position">
<app-navbar-admin ></app-navbar-admin>
<app-sidenav-admin ></app-sidenav-admin>
<br>
<br>
<br>
<br>
<div class="container ">
  <div  class="row center-block container container-center">
   <br>
   <div class="container-center text-center"> 
    <br>
    <br>
    <br>
    <app-profile-image></app-profile-image>
   </div>
   <div class="container text-center">
    <p>Admim_Name , Admim_E-mail</p>
   </div>
  </div>
</div>
<div class="container">
  <br>
  <router-outlet></router-outlet>
</div>

<!-- <app-manage-messages></app-manage-messages> -->

  <br>  
  <br>  
  <br>  
  <br>  
</div>
</div>
