<app-header-landing></app-header-landing>
<div class="row">
<img src='..\assets\pictures\bg15.jpg' alt="about" class=" image" id="about"/>
<br>
<div class="container container-center text-center" >
  <div class="text-center">
<p  style="position:absolute; top:45%; left:23%; "> 
  <font size="5">Bye UserName,
  We hope to see you again.
  Have a nice day/night!!! 
         :) :) :)
  </font>
</p>
<br>
<a routerLink="/LandingPage/Login" style="position:absolute; top:50%; left:48%; "><font size="5">Go back</font></a>
</div>
</div>
</div>
