// body {
//     font-family: "Lato", sans-serif;
// }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    // position: sticky;
    position: -webkit-sticky;
    background-color:#111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu-icon-size{
height: 32px;
width: 32px;
}

.menu-icon-pozition
{
text-align:left;
margin:4.7% 10px; 
float: left;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 25px;}
}

.fOpen{
    width: 250px;
    /* height: 20000px; */
}

// .dot{
//     cursor: pointer;
//     height: 10px;
//     width: 10px;
  
//     background-color:rgba(0, 0, 0, 0.774);
//     border-radius: 50%;
//     display: inline-block;
//     transition: background-color 0.6s ease;
// }


// form {
//     border: 3px solid #f1f1f1;
// }

/* Full-width inputs */
// input[type=text], input[type=password] {
//     width: 20%;
//     padding: 12px 20px;
//     margin: 8px 0;
//     display: inline-block;
//     border: 1px solid #ccc;
//     box-sizing: border-box;
// }

/* Set a style for all buttons */
/* button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */

/* Add a hover effect for buttons */
// button:hover {
//     opacity: 0.8;
// }

/* Extra style for the cancel button (red) */
// .cancelbtn {
//     width: 20%;
//     padding: 10px 18px;
//     background-color: #f44336;
// }

/* Add padding to containers */
// .container {
//     padding: 16px;
// }

/* The "Forgot password" text */
// span.psw {
//     float: right;
//     padding-top: 16px;
// }




