
<div class="menu-icon-pozition fixed-top" style="width:0px!important;" (click)="openNav=true">
  <br>
  <img src='..\assets\pictures\menu.png' alt="menuBarIcon" class="img menu-icon-size"/>
</div>

<div (mouseout)="openNav=float" (mouseover)="openNav=true" class="sidenav" [class.fOpen]="openNav==true"style="float: left;">
  <div class="container">
    <br>
    <h2>admin_name</h2>
    <p class="text-center">any icon...</p>
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/LandingAdmin/AdminEntrance">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/LandingAdmin/ManageTagging">Manaeg Tagging</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/LandingAdmin/ManageFiles">Mnange Files</a>
     </li>
     <!-- <li class="nav-item">
            <a class="nav-link text-white">Add File</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link text-white" routerLink="/LandingAdmin/ManageTaggers">Manage Taggers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" routerLink="/LandingAdmin/ManagePayments">Manage Payments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/LandingAdmin/ManageMessages">Manage Messages</a>
  </li>
    </ul>
</div>
</div>

        
              


      
            