
<div class=" ">
  <div class="row">
    <img style=" background-size: cover;" src='..\assets\pictures\lblue.png' alt="LBlue" class=" image" id="LBlue"/>  
    <div class="row" style="background-color:white; height:50%; width:80%">
<div class="container center-block " style="position:absolute; top:2020px; left:8%; " id="contact">
  <br>
  <br>
  <br>
<div class="container-center">
    <h2 class="text-centar ">Contact us</h2>
</div>
    <br>
 <form> 
<div class="row">
<div style="left:10%" class="col-lg-5 form-group">
<input type="text" name="name" [(ngModel)]="emailServ.currentContact.name" class="form-control text-centar" placeholder="Name"  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" /> 
<div *ngIf="submitted && f.name.errors" class="invalid-feedback"></div>
</div>
 <div style="left:10%" class="col-lg-5 form-group">
  <input type="text" name="email" [(ngModel)]="emailServ.currentContact.emailAddress" class="form-control" placeholder="E-mail"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
  <div *ngIf="submitted && f.email.errors" class="invalid-feedback"></div>
</div> 
</div>
<br>
<div class="row">
 <div style="left:10%" class="col-lg-10 form-group">
     <input type="text" name="subject" [(ngModel)]="emailServ.currentContact.subject" class="form-control" placeholder="Subject"  [ngClass]="{ 'is-invalid': submitted && f.subject.errors }"/> 
     <div *ngIf="submitted && f.subject.errors" class="invalid-feedback"></div>
 </div>
</div>
 <br> 
 <div class="row">
  <div style="left:10%" class="col-lg-10 ">
 <div class="md-form form-group">
  <textarea type="text" name="message" [(ngModel)]="emailServ.currentContact.message" rows="4" class="form-control md-textarea" placeholder="Your message..." [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
  <div *ngIf="submitted && f.message.errors" class="invalid-feedback"></div>
 </div>
 </div>
<br>
 <div  class="container "> 
   <input type="submit" value ="Send" style="left:68.5%" class="col-lg-3 btn  btn-outline-dark" (click)="sendContact()"> 
</div>
</div> 
 </form> 
 <br>
</div> 
</div> 
</div>
</div>


 
