input {
    padding: 5px 20px;
    margin: 8px 0;
    border: 1px solid #212121;
    border-radius:4px;
  }
  h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .image {
    width: 100%;
    height:550px;
}
  textarea{
    padding: 5px 20px;
    margin: 8px 0;
    border: 1px solid #212121;
    border-radius:4px;
  }
