/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";



html, body { height: 100%;scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


  
.container-center {
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background-color:opacity($color: #000000);
    color: black;
    padding: 9px 25px;
    margin:10px 0;
    border: black;
    cursor: pointer;
    width: 100%;
  }
  textarea,input {
    padding: 5px 20px;
    margin: 8px 0;
    border: 1px solid #212121;
    border-radius:4px;
  }
  .white-box{
    background-color:white;
    border: 1px solid white;
    border-radius:4px;
}
