<div class="container white-box" >
    <br>
    <div class="container">
  <div class="container container-center">
    <h2 class="text-centar">Manage Messages</h2>
    <br>
    <br>
    <br>
    <br>
  </div>
  <form class="form-group  center-block container"> 
      <div class="row inline container-center">
      <div class="col-lg-9">
          <input type="text"  id="name" name="name" class="form-control text-centar" placeholder="Input a secific name or E-mail"> 
        </div>
       <div class="col-lg-2">
          <button class=" btn btn-info form-control text-centar " >Broadcast</button> 
      </div> 
      </div>
      <br>
       <div class="col-lg-12  container">
          <input type="text"  id="title" name="title" class="form-control text-centar" placeholder="Title"> 
      </div> 
    
   <br>
    <div class="container container-center text-center "> 
        <textarea type="text" id="message" name="message" rows="4" class="form-control md-textarea" placeholder="Your message..."></textarea>
    </div> 
    <br>
    <div class="container "> 
            <button class="col-lg-3 btn  btn-info" style="float: right;">Send</button> 
    </div>
  </form> 
  <br>
</div> 
<br>
<br>
</div> 
