input {
    padding: 5px 20px;
    margin: 8px 0;
    border: 1px solid #212121;
    border-radius:4px;
  }

  textarea{
    // background-color:#dc3545;
    // opacity: .4;
    padding: 5px 20px;
    margin: 8px 0;
    border: 1px solid #212121;
    border-radius:4px;
  }
//   .white-box{
//     background-color:white;
//     border: 1px solid white;
//     border-radius:4px;
// }