<nav class="navbar navbar-expand-lg transparent fixed-top">
    <a class="navbar-brand" >OurSiteLogo</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link btn btn-outline-danger" routerLink="/LogOut" id="logOut">LOG OUT</a>
            </li>
          </ul>
    </div>
  </nav>
  
