
<div class="menu-icon-pozition fixed-top " style="width:0px!important;" (click)="openNav=true">
  <br>
  <img src='..\assets\pictures\menu.png' alt="menuBarIcon" class="img menu-icon-size"/>
  </div>
  
<div (mouseout)="openNav=float" (mouseover)="openNav=true" class="sidenav" [class.fOpen]="openNav==true"style="float: left;">
  <div class="container">

   <ul class="navbar-nav flex-column">
     <li class="nav-item">
            <h4 class="text-center">{{accountServ.currentAccount.name}}</h4>
     </li>
     <li class="nav-item">
            <h4 class="text-center">{{accountServ.currentAccount.email}}</h4>
     </li>
     <!-- <li class="nav-item">
            <p class="text-center">any icon...</p>
     </li> -->
  </ul>

<br>

 <ul class="navbar-nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/LandingTagger/TaggerEntrance">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/LandingTagger/Tagging">Tagging Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/LandingTagger/Instructions">Instructions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/LandingTagger/Payments">Payments</a>
    </li>
</ul>

</div>
</div>
