
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
     background-color:#111;
    // background-color:rgb(42, 47, 59);
    // background-color:#4b4949;
    // background-color:#17a2b8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu-icon-size{
height: 32px;
width: 32px;
}

.menu-icon-pozition
{
text-align:left;
margin:4.7% 10px; 
float: left;
}

// .sidenav .closebtn {
//     position: absolute;
//     top: 0;
//     left: 25px;
//     font-size: 36px;
//     margin-left: 50px;
// }

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 25px;}
}

.fOpen{
    width: 200px;
    /* height: 20000px; */
}







