

<div class="container">
  <div class="text-center">
     <div class="image-upload" >
        <label for="file-input" >
            <img src="..\assets\pictures\avatar3.jpg" class="mat-icon-button " width="80px" height="80px" *ngIf="!imgURL"/>
            <img [src]="imgURL" width="80px" height="80px" *ngIf="imgURL">
          </label>
        <input id="file-input"  #file type="file" accept='image/*' (change)="preview(file.files)"/>
      </div>   
  </div>
</div>
   


 
              