
<div class="row">
  <div class="text-center"  style="position:absolute; top:55%; left:8%; background-color:rgb(255,255,255,0.4);width: 250px; ">
    <h1 class="txt">Everything</h1>
    <!-- left:90%; -->
  </div>
  <div class="text-center" style="position:absolute; top:63%;left:3% ; background-color:rgba(255, 255, 255, 0.466);width: 400px;"> 
    <h1 class="txt">is</h1>
    <!-- left:83%; -->
  </div>
  <div class="text-center" style="position:absolute;left:10%; top:71%;background-color:rgb(255,255,255,0.4);width: 250px;">
    <h1 class="txt">Possible</h1>
    <!-- left:76%; -->
</div>
<div>
<div>
  <img src='..\assets\pictures\111.jpg' alt="about" class=" image" id="about"/>
</div>
<div>
<img src='..\assets\pictures\yellow.png' alt="lightBlue" class="image" id="lightBlue"/>
</div>
<div>
    <img src='..\assets\pictures\whiteGrey.jpg' alt="grey" class=" image" id="grey"/>
</div>
  <app-how-to-do-that></app-how-to-do-that>
  <div>
    <img src='..\assets\pictures\green1.png' alt="green" class=" image" id="green"/>
</div>
  <!-- <div>
      <img src='..\assets\pictures\white.jpg' alt="white" class=" image" id="white"/>
  </div> -->
  <div>
      <img style=" background-size: cover;" src='..\assets\pictures\whiteGrey2.jpg' alt="grey" class=" image" id="grey"/>  
  </div>
  <app-contact-us  ></app-contact-us>
</div>