
  

input {
    padding: 5px 20px;
    margin: 8px 0;
    border: 0.5px solid #212121;
    border-radius:4px;
}
  
div.style{
    background-color:#17a2b8;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    height: 60px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #17a2b8;
    border-radius: 3px;
  }
  .bg-light {
    background-color: #e4e4e4!important;
}
.bg-blue {
    background-color: #17a2b8!important;
}

// .white-box{
//     background-color:white;
//      width:1000px; 
//      height:600px;

// }