<div class=" bg-light">
    <br>
    <br>
    <br>
    <br>
    <div  class="container position">
        <br>
<div class="container white-box" >
<div class="container center-block " id="contact">
  <br>
  <app-profile-image></app-profile-image>
 <div class=" container-center">
    <h2 class="text-centar">Payments</h2>
 </div> 
 <br>
 <div class="style">
    <!-- <br> -->
 <span><h1 class="font-weight-bold text-center text-white">I have already gained {{accountServ.currentAccount.paymentGather}}</h1></span>
 <!-- <br> -->
</div>
 <br>
 <div>
    <button type="submit" class="btn btn btn-danger">Hi,I want to get my salary this month...</button>
 </div>
<br>
<div class="">
    <div class="container-center row center-block">
<form class="form-group "> 
<div class="row">
 <div class="col-lg-6">
   <input type="text"  id="NameOfAccountOwner" name="NameOfAccountOwner" class="form-control text-centar" placeholder="Name of account owner"> 
</div>
 <div class="col-lg-6">
  <input type="text" id="AccountNumber" name="AccountNumber" class="form-control" placeholder="Account number">
 </div> 
</div>
<br>
<div class="row">
 <div class="col-lg-12">
     <input type="text" id="BranchNumber" name="BranchNumber" class="form-control" placeholder="Branch number"> 
 </div>
</div>

 <br> 
 <div class="row">
  <div class="col-lg-12">
 <div class="md-form">
    <input type="text" id="BanckNumber" name="BanckNumber" class="form-control" placeholder="Banck number"> 
  </div>
 </div>
<br>

</div> 

 </form> 
</div>
</div>
 <br>
</div> 
</div> 
<br>
<br>
<br>
</div> 

</div>





<!-- <app-sidenav-view-acoount></app-sidenav-view-acoount>
<div class="container container-center">
<div class="container row container-center text-center">
<app-profile-image></app-profile-image>
<h2 class="font-weight-bold ">Payments</h2>
<br>
<span><h1 class="font-weight-bold text-center">I have already gained...</h1></span>
<br>
<div>
<div>
<button type="submit" class="btn btn-dark text-white">Hi,I want to get my salary this month...</button>
</div>
</div>
<br>
<br>
<form class="form-horizontal center-block">
<div class="row">
  <div class="col-md-8">
  <div class="md-form">
    <input type="text" id="email" name="email" class="form-control" placeholder="Name of account owner">
    </div>
    </div>
    </div>
 <br>
    <div class="row">
     <div class="col-md-8">
      <div class="md-form">
        <input type="text" id="subject" name="subject" class="form-control" placeholder="Account number">
      </div>
     </div>
    </div>
<br>
 
   <div class="row">
    <div class="col-md-4">
      <div class="md-form mb-0">
          <input type="text"  id="name" name="name" class="form-control" placeholder="Branch number">
      </div>
    </div>
 
      <div class="col-md-4">
        <div class="md-form mb-0">
          <input type="text"  id="name" name="name" class="form-control" placeholder="Banck number">
        </div>
      </div>
    </div>
<br>
<br>
<br>
<br>
 </form>
</div>

</div> -->