.image {
  width: 100%;
  height: auto;
  background-position: top;
  background-size: cover;
}
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graySquare{
  border-radius: 4px;
  background: white;
  padding: 20px; 
  height:60%;
  width: 38%; 
}

input {
  padding: 5px 20px;
  margin: 8px 0;
  border: 0.5px solid #212121;
  border-radius:4px;
}

// .img-size{
//   height: 100%;
//   // background-position: center;
//   background-repeat: no-repeat;
//   // background-size: cover;
// }

.populated {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #dc418d;
  transition: background- 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
}