
<!-- <div class="i1" style="height:100%;  background-position: top;" [ngStyle]="{'background' : 'url(./assets/pictures/34.jpg)'}"> -->
  <div class="row">
      <img src='..\assets\pictures\bg15.jpg' alt="about" class=" image" id="about"/>
<div class="container container-center">
<div class="graySquare container container-center"> 
<div style="position:absolute; top:25%; left:40%; ">
    <div  class="text-center">
      <h3>Sign In</h3> 
    </div>
  <br>
  <br>
  <form>
      <div class="form-group form-horizontal">
        <span>Don't you have an account already? <a class="text-body  font-weight-bold" routerLink="/LandingPage/Register" >Sign Up</a></span>
        <br>
        <input type="email" [(ngModel)]="accountServ.currentAccount.email" class="form-control" name="email"  placeholder="Enter your E-mail" required>
  
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="accountServ.currentAccount.password" class="form-control" name="password" placeholder="Enter your Password" required>
      </div>
      <label [hidden]="ErrorMsg == null">{{ErrorMsg}}</label>
  
          <button type="submit"  class="btn  btn-dark" (click)="onSubmit()">Login</button>
      <div  class="text-center">
          <br>
          <a class="text-body" routerLink="/LandingAdmin">I'm admin (its only for meantime...)</a>
          <br>
          <a class="text-body font-italic font-weight-bold" routerLink="/LandingPage/ForgottenPassword">Forgotten Password?</a>
         
      </div>
    </form>
</div>
</div>
</div>
</div>






