<!-- <ng2-smart-table [settings]="settings"></ng2-smart-table> -->
<!-- <div class="container">
  <div>
    <table>
      <tr>
        <th>Name </th>
        <th>E-mail </th>
        <th>Password </th>
      </tr>
      <tr *ngFor="let i of listTaggers">
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.password}}</td>
        <td ><input clas="btn  btn-outline-dark" type="button" value="delete"></td>
        <td><input clas="btn  btn-outline-dark" type="button" value="send message" ></td>      
      <tr>
    </table>
  </div>
</div> -->

