<nav class="navbar navbar-expand-lg transparent fixed-top">
   <a class="navbar-brand" style="color:black" >OurSiteLogo</a>
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item">
           <a class="nav-link " style="color:black" href="/LandingPage/StartPage#about">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" style="color:black" href="/LandingPage/StartPage#how">how</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" style="color:black" href="/LandingPage/StartPage#contact">contact us</a>
         </li>
       </ul>

       <ul class="navbar-nav ml-auto">
         <li class="nav-item">
           <a class="nav-link" style="color:black" routerLink="/LandingPage/Login" id="loginLink">Sign In</a>
         </li>
         <li class="nav-item">
           <a class="nav-link btn btn-outline-danger" routerLink="/LandingPage/Register" id="registerLink">SIGN UP TODAY</a>
         </li>
       </ul>
  </div>
</nav>


