
  input {
    padding: 5px 20px;
    margin: 8px 0;
    border: 0.5px solid #212121;
    border-radius:4px;
  }
 
  .image {
    width: 100%;
    height: auto;
    background-position: top;
    background-size: cover;
  }