<div class="row">
    <img src='..\assets\pictures\bg15.jpg' alt="about" class=" image" id="about"/>
<div class="container container-center">
    <div class="container container-center row center-block">
    <div style="position:absolute; top:30%; left:37%; ">
    <form>
        <div class="form-group form-horizontal">
          <span>Don't you have an account already? <a routerLink="/LandingPage/Register" style="color:#DC3545">Sign Up</a></span>
          <br>
          <input #email type="email" class="form-control" id="forgottenEmail" aria-describedby="emailHelp" placeholder="Enter your E-mail">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <!-- <button type="submit" class="btn btn-dark" (click)="onSubmit()">Sign Up</button> -->
            <button type="submit" class="btn  btn-dark" (click)="forgottenPassword()" >Send me Email</button>
        <div  class="text-center">
            <br>
            <a class="text-body" routerLink="/LandingPage/Login">Oops, I remembered...</a>
        </div>

      </form>
    </div>
</div>
</div>
</div>