h2,ol{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .pointer {
    width:100%;
    height:60%;
    // background-position: top;
    // background-size: cover;
}
.img1 {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 500px;
  height: 500px;
  margin-top: -250px; /* Half the height */
  margin-left: -250px; /* Half the width */
}