<br>
<br>
<br>
<br>
<div class="justify-content-center align-self-center" id="how">
<div class=" container-center" >
  <div class=" text-centar">
  <h2 style=" margin-left:130px;" class=" text-centar">How to do that</h2>
  <div>
      <img style=" margin-left:80px;"src='..\assets\pictures\line.png' alt="grey" class=" image" id="grey"/>
  </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center align-self-center ">
<div class="row"  >
   <ul  style=" text-align: right;  ">
    <div class="row">
      <ol style=" margin-left:175px;">subscribers</ol>
      <img style="text-align:right; margin-left:10px; width:30px; height:30px;" src='..\assets\pictures\subscribe.jpg' alt="survey"  id="survey"/>
    </div>
     <br>
     <br>
     <div class="row">
        <ol style=" margin-left:80px;">Reading the instructions</ol>
        <img style="margin-left:10px; width:30px; height:30px;" src='..\assets\pictures\survey1.png' alt="survey"  id="survey"/>
     </div>
     <br>
     <br>
     <div class="row" >
        <ol style=" margin-left:50px;">Sending request for begining</ol>
        <img style=" margin-left:10px;width:30px; height:30px;" src='..\assets\pictures\question.png' alt="survey"  id="survey"/>
      </div>
   </ul>
</div>
<div style=" text-align:top;">
    <img style="  margin-top: -130px;  margin-left:70px;  width:350px; height:420px;" src='..\assets\pictures\pointerSmall.jpg' alt="how"/>
</div>
<!-- 92% -->
<div class=""   >
   <ul >
        <div class="row" >
            <img style="margin-left:10px;  width:30px; height:30px;" src='..\assets\pictures\survey.png' alt="survey"  id="survey"/>
            <ol style=" margin-left:-30px;">Reciving texts for tagging</ol>
        </div>
        <br>
        <br>
        <div class="row" >
            <img style="margin-left:10px;  width:30px; height:30px;" src='..\assets\pictures\survey.png' alt="survey"  id="survey"/>
            <ol style=" margin-left:-30px;" >Tagging attributes and values</ol>
        </div>
        <br>
        <br>
        <div class="row" >
            <img style="margin-left:10px;  width:30px; height:30px;" src='..\assets\pictures\payment-method.png' alt="survey"  id="survey"/>
            <ol style=" margin-left:-30px;">Sending ... and reciving the money</ol>
        </div>
      </ul>
    </div>
</div>
</div>