﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <style type="text/css">
        body {
            Margin: 0 !important;
            padding: 15px;
            background-color: #e0e0e0;
        }

        .wrapper {
            width: 100%;
            table-layout: fixed;
        }

        .wrapper-inner {
            width: 100%;
            max-width: 450px;
            Margin: 0 auto;
            background-color: #FFF;
        }

        table {
            border-spacing: 0;
            font-family: sans-serif;
            color: #727f80;
        }

        .outer-table {
            width: 100%;
            max-width: 690px;
            margin: 0 auto;
        }

        .data {
            width: 100%;
            max-width: 690px;
            margin: 0 auto;
        }

        .call-table {
            width: 100%;
            max-width: 450px;
            margin: 0 auto;
        }

        td {
            padding: 0;
        }

        .header {
            background-color: #C2C1C1;
            border-bottom: 3px solid #81B9C3;
        }

            .header a {
                color: #fff;
                font-size: 12px;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
            }

        p {
            Margin: 0;
        }

        .header p {
            text-align: center;
            padding: 1%;
            font-weight: 500;
            font-size: 11px;
            text-transform: uppercase;
        }

        .circle {
            height: 137px;
            width: 137px;
            border: 1px solid #579dd5;
            border-radius: 50%;
            margin: 20px auto;
        }

        .circle-icon {
            display: block;
            border-radius: 50%;
        }

        .title {
            font-weight: 700;
            font-size: 31px;
            margin: 10px auto;
            color: #000;
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }

        .content {
            width: 92%;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: justify;
            color: #000;
            font-weight: 300;
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
        }

        .footer-table {
            background: #000;
            width: 100%;
            max-width: 450px;
        }

        .footer-text {
            text-align: center;
            color: #579dd5;
            font-weight: 300;
            font-size: 16px;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        .image img {
            max-width: 450px;
            margin: 15px auto 10px;
            display: block;
            height: 100px;
            width: initial;
        }



        /*--- Media Queries --*/

        @media screen and (max-width: 400px) {
        }

        @media screen and (min-width: 401px) and (max-width: 767px) {
        }

        @media screen and (max-width:768px) {
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="wrapper-inner">
            <!--- End Main Table -->
            <table class="outer-table">
                <tr>
                    <td class="image">
                        <img src="http://rivendell.cs.biu.ac.il/images/logo.png" alt="Rivendell" style="width:80%;">
                    </td>
                </tr>
                <!--- End Logo -->
            </table>
            <div style="width:100%;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 data">
                    <div class="circle">
                        <img src="https://media.licdn.com/dms/image/C4E03AQH0VEB_xzbXMQ/profile-displayphoto-shrink_200_200/0?e=1536192000&v=beta&t=7bWN9Z4PPaV5M0Uy2g333bof8Cdkl0XwhdIoK_dj6Xc" alt="" class="circle-icon">
                    </div>
                    <div class="title">{{title}}</div>
                    <div class="content">{{Description}}</div>
                </div>
            </div>
            <table class="outer-table">
                <tr>
                    <td class="banner">
                        <img src="http://rivendell.cs.biu.ac.il/images/mails/banner.png" alt="RESEARCH JUST GOT EASYER">
                    </td>
                </tr>
            </table>
            <table class="footer-table">
                <tr>
                    <td class="text">
                        <h4 class="footer-text">Rivendell © 2018</h4>
                    </td>
                </tr>
            </table>
        </div>
        <!--- End Wrapper Inner -->
    </div>
    <!--- End Wrapper -->
    <br>
</body>

</html>