
<div class=" bg-light">
        <br>
        <br>
        <br>
        <br>
        <br>
<div class=" bg-white container shadow">
<br>
<br>
<div class="text-center">
    <h1>Instructions</h1>
    <a routerLink="/LandingTagger/TaggerEntrance">Go Back</a>
    <br>
    <br>
<div class="container-center container center-block header-bg">
<div class="form-place col-xs-10 col-offset-xs-1 col-sm-12 col-offset-sm-1 col-md-10 col-offset-sm-1 col-lg-10 col-offset-lg-1 white-back">
    <div class="row">
        <div class="pad-box ">
    <div class="col-sm-12 ">
</div>
  <div class="container ">
 <h3  class="col-sm-12"> Introduction </h3>
<p class="col-sm-12">
         These Website Standard Terms And Conditions (these “Terms” or these “Website Standard Terms And Conditions”) contained herein on this webpage, shall govern your use of this website, including all pages within this website (collectively referred to herein below as this “Website”). These Terms apply in full force and effect to your use of this Website and by using this Website, you expressly accept all terms and conditions contained herein in full. You must not use this Website, if you have any objection to any of these Website Standard Terms And Conditions.
         This Website is not for use by any minors (defined as those who are not at least 18 years of age), and you must not use this Website if you a minor.
</p>
<h3 class="col-sm-12"> Intellectual Property Rights </h3>
 <p class="col-sm-12">
     Other than content you own, which you may have opted to include on this Website, under these Terms, Rivendell and/or its licensors own all rights to the intellectual property and material contained in this Website, and all such rights are reserved.

     You are granted a limited license only, subject to the restrictions provided in these Terms, for purposes of viewing the material contained on this Website,
 </p>
 <h3 class="col-sm-12"> Restrictions </h3>
 <p class="col-sm-12" style="text-align: left">
     You are expressly and emphatically restricted from all of the following:
 </p>
 <div class="col-sm-12" class="container-centar">
 <ul style="text-align: left">
     <li>publishing any Website material in any media;</li>
     <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
     <li>publicly performing and/or showing any Website material;;</li>
     <li>using this Website in any way that is, or may be, damaging to this Website;</li>
     <li>using this Website in any way that impacts user access to this Website;</li>
     <li>using this Website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the Website, or to any person or business entity;</li>
     <li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website, or while using this Website;</li>
     <li>using this Website to engage in any advertising or marketing;</li>
 </ul>
</div>
 <p class="col-sm-12">
     Certain areas of this Website are restricted from access by you and Rivendell may further restrict access by you to any areas of this Website, at any time, in its sole and absolute discretion.  Any user ID and password you may have for this Website are confidential and you must maintain confidentiality of such information.
 </p>
 <h3 class="col-sm-12"> Your Content. </h3>
 <p class="col-sm-12">
     In these Website Standard Terms And Conditions, “Your Content” shall mean any audio, video, text, images or other material you choose to display on this Website. With respect to Your Content, by displaying it, you grant Rivendell a non-exclusive, worldwide, irrevocable, royalty-free, sublicensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.

     Your Content must be your own and must not be infringing on any third party’s rights. Rivendell reserves the right to remove any of Your Content from this Website at any time, and for any reason, without notice.
 </p>
 <h3 class="col-sm-12">No warranties </h3>
 <p class="col-sm-12">
     This Website is provided “as is,” with all faults, and Rivendell makes no express or implied representations or warranties, of any kind related to this Website or the materials contained on this Website. Additionally, nothing contained on this Website shall be construed as providing consult or advice to you.
 </p>
 <h3 class="col-sm-12">Limitation of liability. </h3>
 <p class="col-sm-12">
     In no event shall Rivendell, nor any of its officers, directors and employees, be liable to you for anything arising out of or in any way connected with your use of this Website, whether such liability is under contract, tort or otherwise, and [COMPANY NAME], including its officers, directors and employees shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.
 </p>
 <h3 class="col-sm-12">Indemnification</h3>
 <p class="col-sm-12">
     You hereby indemnify to the fullest extent Rivendell from and against any and all liabilities, costs, demands, causes of action, damages and expenses (including reasonable attorney’s fees) arising out of or in any way related to your breach of any of the provisions of these Terms.
 </p>
 <h3 class="col-sm-12">Severability</h3>
 <p class="col-sm-12">
     If any provision of these Terms is found to be unenforceable or invalid under any applicable law, such unenforceability or invalidity shall not render these Terms unenforceable or invalid as a whole, and such provisions shall be deleted without affecting the remaining provisions herein.
 </p>
 <h3 class="col-sm-12">Variation of Terms</h3>
 <p class="col-sm-12">
     Rivendell is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review such Terms on a regular basis to ensure you understand all terms and conditions governing use of this Website.
 </p>
 <h3 class="col-sm-12">Assignment</h3>
 <p class="col-sm-12">
     Rivendell shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification or consent required. However, .you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.
 </p>
 <h3 class="col-sm-12">Entire Agreement</h3>
 <p class="col-sm-12">
     These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire agreement between Rivendell and you in relation to your use of this Website, and supersede all prior agreements and understandings with respect to the same.
 </p>
 <h3 class="col-sm-12">Governing Law & Jurisdiction</h3>
 <p class="col-sm-12">
     These Terms will be governed by and construed in accordance with the laws of the State of Israel, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Israel for the resolution of any disputes.
 </p >
</div>
 <div class="row">
     <div class="col-sm-12">
     </div>
</div>
</div>
</div>
</div>
</div>
</div>
<br> 
</div>

<br>  
<br> 
<br> 
</div>