h3,p{
    text-align: left;
}

div.shadow{
box-shadow:  15px  15px  15px  15px #64B5F6(38, 151, 216, 0.1),  15px  15px  15px  15px  #64B5F6(0, 0, 0, 0.1);
}

.bg-white {
    background-color: white!important;
}
.bg-light {
    background-color: #e4e4e4!important;
}