<div class=" bg-light">
<div  class="container position">
<br>
<br>
<br>
<br>
<div class="container white-box" >
<div class="container center-block header-bg">
  
<br>
<br>
<br>

<!-- <p-dropdown [options]="tagPropertyList" [(ngModel)]="selectedTagProperty" optionLabel="name" [filter]="true" placeholder="select a property name">
<ng-template let-item pTemplate="tagPropertyList"> 
<span style="vertical-align:middle">{{item.label}}</span>
</ng-template> 
</p-dropdown> -->


<div  class="container  row">
<div class="col-md-4" >
          
<input type="button" value="property - List" class="btn btn-info" id="propertyWord" (click)="propertyName()"/>
</div>
        
<div class="col-md-4">
  <input type="button" value="property" class="btn btn-info" id="property"  [disabled]="currentTag.propertyWord" (click)="propertyWord()"/>
</div>
        
<div class="col-md-4">
  <input type="button" value="value" class="btn btn-info" id="value" [disabled]="currentTag.value" (click)="value()"/>
</div>
</div>
<br>
<div  class="container div1 border border-secondary">
        
<span *ngFor="let a of arr">
<label  (click)="temp=a">{{a}}</label>
</span>

<!-- <p><iframe src='..\assets\texts\tagging_sample.txt' width=90% height=400 frameborder=1 ></iframe></p> -->
</div>
<br>
<br>
<br>
</div>
</div>
</div>