span{
    padding-right: 5px;
}
.div1 {
    padding-top: 5px;
    display: inline-block;
    height: 300px;
    // margin: 6px;
  }

button :disabled
{
    background-color: gray !important;
}
input{
    width: 300px !important;
  
}
body {
    background-color: #f8f9fa!important;
}
.bg-light {
    background-color: #e4e4e4!important;
}
.position{
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
    
}

