.center {
    position: absolute;
    text-align: center;
}
    
button {
    // border-color: black;
    // color: black;
    opacity: .9;
    cursor: pointer;
    width: 100%;
   
    }
  
    body {
        background-color: #f8f9fa!important;
    }
    .bg-light {
        background-color: #e4e4e4!important;
    }
    .position{
        padding-bottom: 1.5rem!important;
        padding-top: 1.5rem!important;
        margin-bottom: 1.5rem!important;
        
    }