<div class=" bg-light">
  <div  class="container position">
          <br>
          <br>
          <br>
          <br>
  <div class="container white-box" >
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <div class=" container-center">
  <div class="container text-center">
   <button type="button" routerLink="/LandingTagger/Tagging" class="text-center btn btn btn-info">Hi,I want to begin...</button>
   <br>
   <br>
  <a style="color:black !important;" routerLink="/LandingTagger/Instructions">See instructions</a>
  </div>
 
<router-outlet></router-outlet>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<br>
<br>


</div>