<!-- <div class="container row center-block text-center">
<input  type="button" value="Get tagged files"  class="btn btn-light btn btn-default btn-lg btn-block">
<br>
<br>
</div>
<p-table [value]="cars">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td *ngFor="let col of cols">
                    {{car[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">$</span>
        <input type="text" pInputText placeholder="Price">   
        <span class="ui-inputgroup-addon">.00</span>      
    </div>
</div>
<router-outlet></router-outlet> -->