.div-style{
    background-color:#17a2b8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
// .white-box{
//     background-color:white;
//     //  width:1000px; 
//     //  height:600px;
//     //  height:500px;

// }