<div class="container white-box" >
    <br>
    <br>
<div class="container center-block" id="contact">
  <div class="container-center">
    <h2 class="text-centar">Manage Payments</h2>
  </div>
  <br>
  <br>
   <div class="container-center text-center div-style ">
    <div class="col-lg-8">
     <h2 class="font-weight-bold text-white">X taggers have asked to gained their salary</h2>
    </div>
   </div>
  <br>
  <br>
  <br>
   <div class=" container-center text-center">
    <div class="col-lg-6">
        <button class="col-lg-3 btn  btn-outline-dark">see details</button> 
     </div> 
   </div>
   <br>  
    <div class="container container-center text-center "> 
      <button class="col-lg-6 btn btn-danger" >Pay</button> 
    </div> 

  <br>
  <br>
  <br>
</div> 
</div> 

 


<!-- <div class="container  container-center center-block" >
<h2 class="h1-responsive font-weight-bold text-center">X taggers have asked to gained their salary</h2>
<br>
<a routerLink="">details</a>
 <div class="col-md-4">
  <div class="md-form">
<input type="button" value="Pay"  class="btn btn-default btn-md btn-block">
   </div>
 </div>
</div> -->
