
<div class="row">
    <img src='..\assets\pictures\bg15.jpg' alt="about" class=" image" id="about"/>
 <div class="container container-center">
  <div style="position:absolute; top:25%; left:40%; ">
  <form class="ngForm" >
      <div class="form-horizontal">
        <app-profile-image></app-profile-image>
      <div class="text-center">
        <span>Already have an account ? <a class="text-body  font-weight-bold" routerLink="/LandingPage/Login">Sign In</a></span>
      </div>
      <div class="form-group"> 
         <input type="text" class="form-control"  [(ngModel)]="accountServ.currentAccount.name"  placeholder="Enter your Name"  required name="name"/>
         <!-- [ngClass]="{ 'is-invalid': submitted && f.name.errors }" -->
         <!-- <div *ngIf="f.name.errors" class="invalid-feedback"></div> -->
        </div>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" [(ngModel)]="accountServ.currentAccount.email"   placeholder="Enter your E-mail" required name="email"/>
        <!-- [ngClass]="{ 'is-invalid': submitted && f.email.errors }" -->
        <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback"></div> -->
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="accountServ.currentAccount.password" placeholder="Enter your Password"required name="password"/>
        <!-- [ngClass]="{ 'is-invalid': submitted && f.password.errors }" -->
        <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback"></div> -->
          <!-- <small *ngIf="f.password.required">password is required</small>         -->
        </div>
          <div class="text-center">
          <small>By clicking Sign Up I agree to <a class="text-body  font-weight-bold" routerLink="/LandingPage/TermsAndConditions">Terms&Conditions</a></small> 
          <br>
          <button type="submit" class="btn btn-dark" (click)="onSubmit()">Sign Up</button>
           <a routerLink="/LandingTagger/TaggerEntrance">enter (when running without backEnd)</a>
        </div>
    </form>
  </div>
  </div>
</div>
