<div class="row">
  <img src='..\assets\pictures\bg15.jpg' alt="about" class=" image" id="about"/>
<div class="container container-center">
<div class="graySquare container container-center"> 
<div style="position:absolute; top:25%; left:40%; ">
    <div  class="text-center">
      <h3>Reset Password</h3> 
    </div>
  <br>
  <br>
  <form>
      <div class="form-group form-horizontal">
        <input type="email" [(ngModel)]="accountServ.currentAccount.email" class="form-control" name="email"  placeholder="Enter your E-mail" required>
  
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="accountServ.currentAccount.password" class="form-control" name="password" placeholder="Enter your Password" required>
      </div>
      <label [hidden]="ErrorMsg == null">{{ErrorMsg}}</label>
  
          <button type="submit"  class="btn  btn-dark" (click)="resetPassword()"  >Reset</button>
    </form>
</div>
</div>
</div>
</div>
