button {
    background-color:opacity($color: #000000);
    color: black;
    padding: 7px 20px;
    margin: 8px 0;
    border: black;
    cursor: pointer;
    width: 100%;
  }
  input {
    padding: 5px 20px;
    margin: 8px 0;
    border: black;
  }